<tr>
	<td class="brief">
		<span class="user"> <%= link_to feed_item.user.name, feed_item.user %></span>
		<span class="content"> <%= feed_item.content %></span>
		<span class="timestamp"> Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</span>
	</td>
	<% if current_user?(feed_item.user || admin.user)%>
	<td>
		<%= link_to "Delete", feed_item, :method => :delete, :confirmation => "Really?", 
										:title => feed_item.content %>
	</td>
	<% end %>
	
</tr>